@media (max-width: 480px) {
	html {
			font-size: 14px;
	}
	.facts-container{
		width: 100%;
	}
	.map-blurb{
		min-width: 100%;
		justify-content: flex-start;
		}
		.map-text{
			min-width: 100%;
		}
		.about-descr {
			font-size: 1rem;
		}
		.pdding{
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
		.prev{
			position: absolute;
			top: 50%;
			left: 0;
		}
		.next{
			position: absolute;
			top: 50%;
			right: 0;
		}
		.comment-container{
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			align-content: flex-start;
		}
		.speeker-photo{
			width: 80px;
			height: 80px;
			margin-right: 0;
		}
		.speeker-text{
			padding-left: 0;
		}

		.map-blurb{
			flex-direction: row;
			align-items: center;
			align-content: center;
		}
		.home{
			margin-right: 10px;
			min-width: 40px;
		}
		.planet{
			margin-right: 10px;
			min-width: 40px;
		}
		section,.site-footer{
			margin-top: 3rem;
		}
		.news-block-container{
			width: 95%;
			margin: 0 auto;
		}
		.news-container{
			height: 220px;
		}
		/* .online-map-container{
			height: 250px;
		} */
		.gos-link-element{
			width: 100%;
			max-width: 90%;
			align-items: center;
		}
		.online-map{
			width: 100%;
			height: 250px;
		}
		.map-show-on-hover{
		top:100px;
		}
		.map-show-logo-black{
			width: 40px;
		}
		.navbar-nav{
			min-width: auto;
		}
		.m-nav-buton{
			right: 20px;
		}
		.hero{
			background-image: url("/img/mobile-bg.jpg");
			background-position: 60% 50%;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.video-masck{
			display: none;
		}
		.gos-link-container{
			width: 100%;
		}
		.gos-link-dual-container{
			margin-right: 0;
		}

		.partners-link{
			width: 80px;
		}
		.load-pdf{
			display: flex;
			justify-content: center;
			margin: 2rem 0;
			}
			.pdding{
				padding: 0rem 1.5rem;
			}
}