@media (max-width: 768px) {
	html {
			font-size: 14px;
	}
	.facts-container{
		width: 44%;
	}
	.number-container{
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	.contacts{
		flex-direction: column;
	}
	.contacts-information{
		width: 100%;
	}
}