@media (max-width: 768px) {
	html {
			font-size: 14px;
	}
	.facts-container{
		width: 44%;
	}
	.number-container{
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	.contacts{
		flex-direction: column;
	}
	.contacts-information{
		width: 100%;
	}
	h1{
		font-size: 3rem;
	}
	h2{
		font-size: 1.5rem;
	}
	h3,.agency-cont{
		font-size: 1.2rem;
	}
	.speeker-photo{
		width: 50px;
		height: 50px;
	}
}