@media (max-width: 768px) {
	html {
			font-size: 14px;
	}
	.facts-container{
		width: 44%;
	}
	.number-container{
		width: 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.contacts{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.contacts-information{
		width: 100%;
	}
	h1{
		font-size: 3rem;
	}
	h2{
		font-size: 1.5rem;
	}
	h3,.agency-cont{
		font-size: 1.2rem;
	}
	.speeker-photo{
		width: auto;
		height: 50px;
	}
	.comment-container{
		max-width: 90%;
		min-width: 85%;
		margin:0 auto;
	}
	.coments-slider-block{
		width: 100%;
		display: block;
	}
	.arrow{
		fill: #fff;

		height: 30px;
	}
	.slyder-arrow{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
	}
	.prev{
		position: absolute;
		top: 30%;
		left: 0;
	}
	.next{
		position: absolute;
		top: 30%;
		right: 0;
	}
	.news-container{
		width: 90%;
	}
	.news-block-container{
		display: block;
	}
	.prev-news{
		position: absolute;
		top: 50%;
		left: 0;
	}
	.next-news{
		position: absolute;
		top: 50%;
		right: 0;
	}
	.map-text-container{
		margin-top: 5rem;
	}
	.site-footer{
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-ms-flex-line-pack: start;
		    align-content: flex-start;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.gos-link-container{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.online-map-container{
		width: 100%;
	}
	.partners-link{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding: 20px;
		-webkit-filter: grayscale(95%);
		        filter: grayscale(95%);
		-webkit-transition: 450ms;
		transition: 450ms;
		min-width: 80px;
		border:1px solid transparent;
	}
	.partners-logo{
		height: 28px;
	}
	.pdding{
		padding: 0rem 2rem;
	}
}