@media (max-width: 480px) {
	html {
			font-size: 13px;
	}
	.facts-container{
		width: 100%;
	}
	.map-blurb{
		min-width: 100%;
		justify-content: flex-start;
		}
		.map-text{
			min-width: 100%;
		}
}