@media (max-width: 1024px) {
	html {
			font-size: 14px;
	}
	body{
		padding-left:0px;
		padding-top: 60px;
	}
	.navbar{
		position: fixed;
		top:0;
		margin: 0;
		height: 60px;
		width: 100vw;
		background-color: #202020;
		z-index: 20;
	}
	.logo-link{
		position: absolute;
		top: 0px;
		left: 20px;
	}
	.navbar-logo{
		width: 90px;
	}
	.navbar-menu{
		position: absolute;
		top: 60px;
		right: 0px;
		height: 100vh;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding-right: 20px;
		padding-left: 20px;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		background-color: #202020;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-transform: translateX(+100%);
		        transform: translateX(+100%);
		-webkit-transition: 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transition: 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	}
	.comment-container{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		max-width: 48%;
		min-width: 290px;
	}
	.speeker-photo{
		width: auto;
		height: 65px;
	}
	.speeker-comment{
		padding-left: 15px;
	}
	.manu-active{
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
.m-nav-buton{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 0px;
	right: 60px;
	z-index: 30;
}
.navbar-nav{
	height: 80vh;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.map-blurb{
min-width: 40%;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
}
.map-text{
	min-width: 100%;
}
.map-text-container{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.map-blurb{
	-ms-flex-preferred-size: 48%;
	    flex-basis: 48%;
}
.agency {
	margin-top: 2rem;
}
.contacts{
	margin-bottom: 2rem;
}
.m-nav-buton{
	height: 100%;
	width: 35px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.buttion-active span{
width: 0px;
}
.buttion-active span:after{
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	top:0px;
	}
	.buttion-active span:before{
		-webkit-transform: rotate(45deg);
		        transform: rotate(45deg);
		bottom:0px;
		width: 30px;
		}
		.social-icons-container{
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
		.about{
			margin-top:0;
			margin-top:1rem;
		}
}