html{
	font-size: 14px;
}
section{
	margin-top: 3rem;
	margin-bottom: 3rem;
}
body{
	margin: 0;
	padding: 0;
	background-color: #202020;
	color:#fff;

	box-sizing: border-box;
	padding-left: 17rem;
}
h1 {
	font-size: 5rem;
		margin-bottom: 2.5rem;
		font-family: 'Roboto Condensed', sans-serif;
}

h2 {
	font-size: 2.25rem;
	font-family: 'Roboto Condensed', sans-serif;
}

h3 {
	font-size: 2rem;
	font-family: 'Roboto Condensed', sans-serif;
}

h4 {
	font-size: 1.75rem;
	font-family: 'Roboto Condensed', sans-serif;
}

h5 {
	font-size: 1.5rem;
	font-family: 'Roboto Condensed', sans-serif;
}

h6 {
	font-size: 1.25rem;
	font-family: 'Roboto Condensed', sans-serif;
}

p {
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}




.m-nav-buton{
	display: none;
}
.nav-link{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
}
/* font-family: 'Roboto Condensed', sans-serif;
font-family: 'Open Sans', sans-serif; */
.facts-container-tiitle{
	font-size: 14px;
}
.navbar{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-left: 2.5rem;
	flex-direction: column;
	width: 15rem;
	height: 100vh;
}
.logo-link{
	position: absolute;
	top: 5px;
	left: -4px;
}
.navbar-logo{
	width: 180px;
}

.navbar-nav{
	list-style: none;
	margin-top: 5rem;
	padding: 0;
	display: flex;
	justify-content: center;

	flex-direction: column;
}
.about-descr {
	font-size: 1.15rem;
}
.navbar-nav-item{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1.1rem;
	font-family: 'Open Sans', sans-serif;
}
.content-container{
	/* max-width: 90rem; */
	max-width: calc(1640px - 14em);
	
}
.wrapper{
	width: 100%;
    margin-right: auto;
		margin-left: auto;
}
.pdding{
	padding-left: 3rem;
	padding-right: 3rem;
}
.hero{
	min-height: 100vh;
	display: flex;
	align-items: center;
	font-family: 'Roboto Condensed', sans-serif;
}
.width-up{
	width:90%;
}
.number-container-img{
	width: 90%;
	background-color: rgba(255, 255, 255, 0.411);
	position: relative;
}

.numbers,.numbers-two{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.number-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	width: 45%;
	position: relative;
}

.facts-container-counter-il-anim{
	height: 20px;
	opacity: 1;
}
.light{
	background-color: #d3d3d3;
}
.dark{
	background-color: #696969;
}
.facts-container-counter-il{
	display: flex;
	align-items: center;
}
.facts-container{
	width: 22%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.facts-container-counter-il-text{
	padding-left: 18px;
}
.facts-container-counter-year{
	margin-top: -10px;
	font-size: 0.8rem;
}
.facts-container-counter{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}
.facts,.facts-two{
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.map{
	margin-top:2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.map-blurb-img{
	width: 50px;
	height: 50px;
}
.map-text-container{
	display: flex;
	justify-content: space-between;
}
.map-blurb{
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 25%; flex-shrink: 1;
}
.map-text{
	flex-basis: 45%; flex-shrink: 1;
}
.map{
	display: flex;
	flex-direction: column;
}
.partners-container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.partners-logo{
	max-width: 150px;
	height: 40px;
}
.comments{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.comment-container{
	display: flex;
	flex-direction: row;
	max-width: 48%;
	min-width: 350px;
	justify-content: flex-start;
}
.speeker-photo{
	width: 90px;
	height: 90px;
	border-radius: 50px;
	margin-right: 8px;
}
.speeker-text{
	padding-left: 8PX;
}
.speeker-name{
	margin-bottom: 3px;
}
.speeker-post{
	margin-top: 3px;
}
.speeker-comment{
	padding-left:25px;
	font-style: italic;
	font-size: 0.9rem;
}
.contacts{
	display: flex;
}
.contacts-information{
	display: flex;
	flex-direction: column;
}
.agency-container{
	display: flex;
	flex-wrap: wrap;
}
.agency-contacts-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-width: 220px;
}
.agency-contacts-text{
	min-width: 50%;
}
.site-footer{
	display: flex;
	justify-content: space-between;
}

.agency-contacts{
	display: flex;
	flex-direction: row;
align-content: flex-start;
justify-content: flex-start;
}
.agency-contacts-img{
	width: 40px;
	height: 29px;
	margin-top: 5px;
	margin-right: 5px;
	filter: grayscale(95%);
}
.agency-cont{
	margin-bottom: 8px;
	font-size: 1.5rem;
}
.agency-contacts-text-tiitle{
	font-size: 1rem;
	margin-bottom: 3px;
	margin-top: 3px;
}
.agency-contacts-text-phone{
	margin-bottom: 3px;
	margin-top: 3px;
	font-size: 0.8rem;
	
}
.agency-contacts-text-email{
	margin-top: 3px;
	font-size: 0.8rem;
	min-width: 185px;
}
.online-map-container{
	width: 40%;
}
.contacts-information{
	width: 60%;
}
.copiright{
	font-size: 1rem;
}
#language{
	margin-top: 30px;
}
.site-footer{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.gos-link-container{
	display: flex;
}
.six-trade-textcircle{
	background-color: #202020;
	padding: 15px;
	border-radius: 50px;
	transition: 350ms;
	-webkit-transition: 350ms;
	-moz-transition: 350ms;
	-ms-transition: 350ms;
	-o-transition: 350ms;
}
.six-trade-text{
	position: absolute;
	top: 63%;
	right: 24%;
	user-select: none;
	transition: 350ms;
	-webkit-transition: 350ms;
	-moz-transition: 350ms;
	-ms-transition: 350ms;
	-o-transition: 350ms;
}
.six-trade-descr{
	text-transform: uppercase;
	margin-left: 5px;
	font-family: 'Open Sans', sans-serif;
}
.six-trade-text:hover .six-trade-textcircle{
	background-color: #696969;
}
.map-container{
	width: 100%;
}
.gos-img{
	width: 34px;
	height: 36px;
	filter: grayscale(95%);
	margin-right: 10px;
}
.gos-link-element{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 10px;
}
.gos-link-element a{
	font-size: 0.8rem;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: #fff;
	font-size: 0.7rem;
}
.gos-link-dual-container{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.map-show-on-hover{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #d3d3d3;
	margin: 10px;
	color: #232323;
	width: 180px;
	position: absolute;
	top: 0;
	right:0px;
	transform: translate(165px);
	-webkit-transform: translate(165px);
	-moz-transform: translate(165px);
	-ms-transform: translate(165px);
	-o-transform: translate(165px);
	transition: 300ms ease-in-out;
	-webkit-transition: 300ms ease-in-out;
	-moz-transition: 300ms ease-in-out;
	-ms-transition: 300ms ease-in-out;
	-o-transition: 300ms ease-in-out;
}
.map-show-logo-black{
	width: 60px;
	margin-left: 4px;
}
.map-container{
	position: relative;
}
.name-country{
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 6px;
}
.map-show-off-hover{
	z-index: 2;
	transform: translate(50px);
	-webkit-transform: translate(50px);
	-moz-transform: translate(50px);
	-ms-transform: translate(50px);
	-o-transform: translate(50px);
}
.news-tiitle{
	font-size: 1rem;
}
.news-date{
	font-size: 0.8rem;
	align-self: flex-end;
}
.news-container{
	display: flex;
	flex-direction: column;
	justify-content:	space-between;
	height: 250px;
	width: calc(25% - 20px);
	padding: 10px;
	color: #fff;
	text-decoration: none;
	filter:grayscale(95%);
	-webkit-filter:grayscale(95%);
}
.news-container:hover{
	opacity: 0.7;
}
.news{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#news-1, #news-2, #news-3, #news-4, #news-5, #news-6, #news-7, #news-8{
	/*background: radial-gradient(rgba(65, 65, 65, 0), rgb(65, 65, 65)), url('/img/news/news1.jpg');
	*/
	background: linear-gradient(180deg, rgba(35, 35, 35,0.5), rgba(35, 35, 35,0.95)), url('/img/news/news1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 30%;
	transition: 500ms ease-in-out;
	-webkit-transition: 500ms ease-in-out;
	-moz-transition: 500ms ease-in-out;
	-ms-transition: 500ms ease-in-out;
	-o-transition: 500ms ease-in-out;
}