html{
	font-size: 14px;
}
section{
	margin-top: 3rem;
	margin-bottom: 3rem;
}
body{
	margin: 0;
	padding: 0;
	background-color: #202020;
	color:#fff;

	box-sizing: border-box;
	padding-left: 17rem;
}
h1 {
	font-size: 5rem;
		margin-bottom: 2.5rem;
		font-family: 'Roboto Condensed', sans-serif;
}

h2 {
	font-size: 2.25rem;
	font-family: 'Roboto Condensed', sans-serif;
}

h3 {
	font-size: 2rem;
	font-family: 'Roboto Condensed', sans-serif;
}

h4 {
	font-size: 1.75rem;
	font-family: 'Roboto Condensed', sans-serif;
}

h5 {
	font-size: 1.5rem;
	font-family: 'Roboto Condensed', sans-serif;
}

h6 {
	font-size: 1.25rem;
	font-family: 'Roboto Condensed', sans-serif;
}

p {
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}




.m-nav-buton{
	display: none;
}
/* font-family: 'Roboto Condensed', sans-serif;
font-family: 'Open Sans', sans-serif; */
.facts-container-tiitle{
	font-size: 14px;
}
.navbar{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 15rem;
	height: 100vh;
}
.navbar-nav{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;

	flex-direction: column;
}
.navbar-nav-item{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1.1rem;
	font-family: 'Open Sans', sans-serif;
}
.content-container{
	/* max-width: 90rem; */
	max-width: 1640px;
	
}
.wrapper{
	width: 100%;
    margin-right: auto;
		margin-left: auto;
}
.pdding{
	padding-left: 3rem;
	padding-right: 3rem;
}
.hero{
	min-height: 100vh;
	display: flex;
	align-items: center;
	font-family: 'Roboto Condensed', sans-serif;
}
.width-up{
	width:90%;
}
.number-container-img{
	width: 90%;
	background-color: rgba(255, 255, 255, 0.411);
}

.numbers,.numbers-two{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.number-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	width: 45%;
	
}
.facts-container-counter-il-anim{
	height: 20px;
	width: 20%;
}
.light{
	background-color: #d3d3d3;
}
.dark{
	background-color: #696969;
}
.facts-container-counter-il{
	display: flex;
	align-items: center;
}
.facts-container{
	width: 22%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.facts-container-counter-il-text{
	padding-left: 18px;
}
.facts-container-counter-year{
	margin-top: -10px;
}
.facts-container-counter{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}
.facts,.facts-two{
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.map-container-img{
width: 800px;
}
.map{
	margin-top:2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.map-blurb-img{
	width: 50px;
	height: 50px;
}
.map-text-container{
	display: flex;
	justify-content: space-between;
}
.map-blurb{
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 25%; flex-shrink: 1;
}
.map-text{
	flex-basis: 45%; flex-shrink: 1;
}
.map{
	display: flex;
	flex-direction: column;
}
.partners-container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.partners-logo{
	max-width: 150px;
	height: 40px;
}
.comments{
	display: flex;
	flex-wrap: wrap;
}
.comment-container{
	display: flex;
	flex-direction: row;
	max-width: 50%;
	justify-content: flex-start;
}
.speeker-photo{
	width: 90px;
	height: 90px;
}
.speeker-text{
	padding-left: 8PX;
}
.speeker-name{
	margin-bottom: 3px;
}
.speeker-post{
	margin-top: 3px;
}
.speeker-comment{
	padding-left:25px;
	font-style: italic;
	font-size: 0.9rem;
}
.contacts{
	display: flex;
}
.contacts-information{
	display: flex;
	flex-direction: column;
}
.agency-container{
	display: flex;
	flex-wrap: wrap;
}
.agency-contacts-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.agency-contacts-text{
	min-width: 50%;
}
.site-footer{
	display: flex;
	justify-content: space-between;
}
.news{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.news-container{
	width:220px ;
}
.agency-contacts{
	display: flex;
	flex-direction: column;
}
.agency-cont{
	margin-bottom: 8px;
	font-size: 1.5rem;
}
.agency-contacts-text-tiitle{
	font-size: 1rem;
	margin-bottom: 3px;
	margin-top: 3px;
}
.agency-contacts-text-phone{
	margin-bottom: 3px;
	margin-top: 3px;
	font-size: 0.8rem;
	
}
.agency-contacts-text-email{
	margin-top: 3px;
	font-size: 0.8rem;
	min-width: 185px;
}
.online-map-container{
	width: 40%;
}
.contacts-information{
	width: 60%;
}
.copiright{
	font-size: 0.8rem;
}
#language{
	margin-top: 30px;
}