.text-svg-1{
	fill:#fff;
}
.svg-1-circle-primal{
	fill: #fff;
	opacity: 0.45;
	transition: 450ms;
	stroke: #ffffff;
	stroke-width:0px;
}
.svg-1-circle-primal:hover{
	fill: #fff;
	opacity: 0.6;
	stroke: #ffffff;
	stroke-width:4px;
}

.svg-1-circle-secondary{
	fill: #fff;
	opacity: 0.2;
	transition: 450ms;
	stroke: #ffffff;
	stroke-width:0px;
}
.svg-1-circle-secondary:hover{
	fill: #fff;
	opacity: 0.4;
	stroke-width:4px;
}
.svg-2-text{
	fill: #fff;
}
.svg-2-circles-secondary{
	fill: #fff;
	opacity: 0.2;
	transition: 450ms;
	stroke: #ffffff;
	stroke-width:0px;
}
.six-trade{
	fill: #fff;
	opacity: 0.45;
	transition: 450ms;
	stroke: #ffffff;
	stroke-width:0px;
}
.six-trade:hover{
	fill: #fff;
	opacity: 0.6;
	stroke: #ffffff;
	stroke-width:1px;
}
.svg-map-style{
	fill: transparent;
	stroke: #848484;
	stroke-width:0.5px;
}
#russia,#france,#japan,#usa,#kanada,#shwedish,#germany,#england,#china,#italy{
	transform: translate(0px,-8px);
	fill: #fff;
	opacity: 0.6;
	transition: 400ms;
	stroke: #fff;
	stroke-width:0px;
}
#italy:hover{
	opacity: 1;
	transform: translate(0px,-12px);
		stroke-width:1px;
		stroke: white;
		stroke-linecap:round;
		stroke-linejoin:round;
}
#china:hover{
	opacity: 1;
	transform: translate(0px,-12px);
		stroke-width:1px;
		stroke: white;
		stroke-linecap:round;
		stroke-linejoin:round;
}
#england:hover{
	opacity: 1;
	transform: translate(0px,-12px);
		stroke-width:1px;
		stroke: white;
		stroke-linecap:round;
		stroke-linejoin:round;
}
#germany:hover{
	opacity: 1;
	transform: translate(0px,-12px);
		stroke-width:1px;
		stroke: white;
		stroke-linecap:round;
		stroke-linejoin:round;
}
#shwedish:hover{
	opacity: 1;
	transform: translate(0px,-12px);
		stroke-width:1px;
		stroke: white;
		stroke-linecap:round;
		stroke-linejoin:round;
}
#kanada:hover{
	opacity: 1;
	transform: translate(0px,-12px);
		stroke-width:1px;
		stroke: white;
		stroke-linecap:round;
		stroke-linejoin:round;
}
#usa:hover{
	opacity: 1;
	transform: translate(0px,-12px);
		stroke-width:1px;
		stroke: white;
		stroke-linecap:round;
		stroke-linejoin:round;
}
#japan:hover{
	opacity: 1;
	transform: translate(0px,-12px);
		stroke-width:1px;
		stroke: white;
		stroke-linecap:round;
		stroke-linejoin:round;
}
#france:hover{
	opacity: 1;
	transform: translate(0px,-12px);
		stroke-width:1px;
		stroke: white;
		stroke-linecap:round;
		stroke-linejoin:round;
}
#russia:hover{
	opacity: 1;
	transform: translate(0px,-12px);
		stroke-width:1px;
		stroke: white;
		stroke-linecap:round;
		stroke-linejoin:round;
}